<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageRestore>
		<add key="automatic" value="True" />
		<add key="enabled" value="True" />
	</packageRestore>
	<activePackageSource>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</activePackageSource>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	</packageSources>
	<bindingRedirects>
		<add key="skip" value="False" />
	</bindingRedirects>
</configuration>